body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: georgia;
}

header h1 {
    height: 140%;
    padding: 0.5rem;
}

nav {
    font-weight: bold;
    background-color: #F3F3F3;
}

h2 {
    color: #424242;
    font-family: georgia;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: 0.7rem;
    font-family: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}