body {
    background-color: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Arial;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: georgia;
}

header h1 {
    height: 140%;
    padding: 0.5rem;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0px;

}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

h2 {
    color: #424242;
    font-family: georgia;
}

h3{
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: 0.7rem;
    font-family: italic;
    text-align: center;
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px rgba(66, 66, 66, 0.3);
}

#homehero {
    background-image: url('utahtechimages/homehero.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#studenthero {
    background-image: url('utahtechimages/studenthero.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#facultyhero {
    background-image: url('utahtechimages/facultyhero.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}